.login-page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins';
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding:1rem 2rem;
    box-sizing: border-box;
    border-radius: 0.2px solid white;
    border-radius: 10px;
}

.login-form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0.5rem;
}

.login-form-group input{
    min-width: 300px;
    padding: 0.9rem;
    border-radius: 7px;
    border: 0.2px solid #f6f6f6;
    margin-top: 0.1rem;
}